[submodule "src/autoware_manual_control"]
	path = src/autoware_manual_control
	url = https://github.com/evshary/autoware_manual_control.git
[submodule "src/gps_umd"]
	path = src/gps_umd
	url = https://github.com/swri-robotics/gps_umd.git
